@{
	Layout = "_DemoLayout.cshtml";
}

@section head
{
		@Helpers.BundleJs("demo#.js", x =>
			x.Add("~/Scripts/demo/ex1.coffee")
		)
}


<div ng-app>
	 
	<input ng-model="color"/>
	<span>{{color}}</span>

</div>






















































































