@{
	Layout = "_DemoLayout.cshtml";
}

@section head
{
		@Helpers.BundleJs("demo#.js", x =>
			x.Add("~/Scripts/demo/ex2.coffee")
		)
}


<div ng-app="testmodule">
	 
	<input ng-model="color"/>
	<span>{{color}}</span>



	http://localhost:62567/bootstrap/JSONDATA

</div>






















































































