@{
	Layout = "_DemoLayout.cshtml";
}

@section head
{
		@Helpers.BundleJs("demo#.js", x =>
			x.Add("~/Scripts/demo/ex2.coffee")
		)
}


<script type="text/ng-template">

</script>


<div ng-app="testmodule">
	<!--<input ng-model="aaa" test />-->
	<!--{{color}}-->
	<!--.{{aaa}}.-->

	<markdown >
		.{{aaa}}.
	</markdown>

	<div ng-controller="newtestCtrl">
		.{{aaa}}.
	</div>

</div>

https://github.com/angular/angularjs-batarang
<br />
http://localhost:62567/bootstrap/JSONDATA




















































































