@{
	Layout = "_DemoLayout.cshtml";
}


@Html.ActionLink("example1 ", "Example", new {id ="ex1"})
@Html.ActionLink("example1 ", "Example", new {id ="ex11"})
@Html.ActionLink("example2 ", "Example", new {id ="ex2"})






<a href="http://localhost:62567/bootstrap/JSONDATA">http://localhost:62567/bootstrap/JSONDATA</a>