<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="/Bootstrap">Bootstrap</a>
			<ul class="nav">
				<li><a ng-click="refresh()">refresh</a> </li>
				<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Templates
					<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="#csstest">CSS test</a></li>
						<li><a href="#bootswatch">bootswatch</a></li>
					</ul>
				</li>
				<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Download
									 	<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="kajbsdjkasd">bootastrap.css</a></li>
						<li><a href="kajbsdjkasd">bootastrap.min.css</a></li>
						<li class="divider"></li>
						<li><a href="kajbsdjkasd">bootastrap.less</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>
